# Neon PostgreSQL Database URL
DATABASE_URL="postgresql://user:password@ep-xxxxx.ap-southeast-1.aws.neon.tech/absensiku?sslmode=require"

# NextAuth Configuration
NEXTAUTH_SECRET="ganti-dengan-secret-random-panjang-minimal-32-karakter"
NEXTAUTH_URL="http://localhost:3000"

# Upload Directory (relative to /public)
UPLOAD_DIR="/uploads"
